@page
@using Core.Configurations
@model Pages.DebugModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Debug</title>
    @* <link rel="stylesheet" href="~/css/site.css"/> *@

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Madimi+One&display=swap" rel="stylesheet">

</head>
<body>
<main>

    <h2>Rooms:</h2>
    @foreach (var room in Model.GetAllRooms())
    {
        <div>
            <h6>@room.Value.Id</h6>
            <p>IP: @room.Value.Code</p>
            <p>Count connections: @room.Value.Connections.Count</p>
            <p>State: @room.Value.State</p>
            <p>Connections: </p>
            <ul>
                @foreach (var conn in room.Value.Connections)
                {
                    <li>@conn.Value.Id</li>
                }
            </ul>
            <hr>
        </div>
    }
    
    <h2>Connections:</h2>
    @foreach (var item in Model.GetAllConnections())
    {
        <div>
            <h6>@item.Value.Id</h6>
            <p>IP: @item.Value.PublicIp</p>
            <p>Status: @item.Value.Status</p>
            <p>Websocket state: @item.Value.WebSocket.State</p>
            <hr>
        </div>
    }
    
</main>
</body>
</html>